/*

Tamaño de bombo: 250x250px aprox.
Tamaño de cartones: 300x225px aprox.
Colores de fondo:  #2455c0 ,  #0b142c
Otros colores:  #9e1c23 ,  #54090d ,  #eeeeee

*/
* {
    box-sizing: border-box;
    margin: 0px;
}
html {
    background: linear-gradient(to bottom, #2455c0, #0b142c);
    height: 100%;
}
.container-header {
    width: 100%;
    display: flex;
    padding: 30px;
    flex-direction: column;
}
.header-title {
    align-self: center;
    color: #eeeeee;
}
.section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 20px 0px;
}
.container-player, .container-cpu {
    width: 300px;
    height: 225px;
    background-color: #9e1c23;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
} 
.title-cpu, .title-player {
color: #eeeeee;
align-self: center;
padding: 20px 0px 0px 0px;
}
.ul-numbers {
    gap: 17px;
    padding: 10px 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.player-row-1, .player-row-2, .player-row-3, .cpu-row-1, .cpu-row-2, .cpu-row-3 {
    gap: 17px;
}
.number-row-1, .number-row-2, .number-row-3 {
    background-color: #eeeeee;
    padding: 15px;
}
.container-bombo {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 4px solid black;
    background: radial-gradient(circle, #eeeeee, rgb(80, 80, 80));
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bombo-square {
    width: 50px;
    height: 50px;
    border: 3px solid gray;
}
.bombo-button {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

.container-result {
    width: 80%;
    margin: 0px 10%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px;
    gap: 5px;
    border: 2px solid gray;
}
.container-result-30, .container-result-60, .container-result-90 {
    width: 40px;
    height: 40px;
    display: flex;
    text-align: center;
    gap: 5px;
}
.number-result {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    padding: 10px;
}